#adv-content{
	background-color:#CCCCCC;
}

#display-content{
	height:107px;
}

#picdisplay{
	margin:0 auto;
	height:107px;
	width:935px;
}

#picdisplay img{
	float:left;
	capacity:0.4;
	width:186px;
	height:107px;
}

.selected{
	opacity:1;
}

#picdisplay a{
	cursor:pointer;
}


/* ----------------  pro-list ------------------*/

.pro-img{
	width:204px;
	height:252px;
	text-align:center;
}

.pro-txt{
	height:20px;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	font-size:12px;
}

.pro-txt a{
	color: #333333;
    text-decoration:none;
	outline:medium none;	
}

.pro-txt a:hover{
    text-decoration:underline;
}

.pro-price-men{
	background: url("../images/men_logo.jpg") no-repeat scroll 60px center transparent;
    color: #7DB64A;
	height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
	font-size: 12px;
}

.pro-price-women{
	background: url("../images/women_logo.jpg") no-repeat scroll 60px center transparent;
    color: #7DB64A;
	height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
	font-size: 12px;
}